@font-face {
  font-family: "SourceCodePro";
  src: url(./SourceCodePro-VariableFont_wght.ttf) format("truetype");
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "SourceCodePro";
}
h1 {
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 7px;
  background-color: #EEE;
  border-bottom: 1px solid #BBB;
}
#linkback {
  position: absolute;
  font-size: 13px;
  top: 13px;
  right: 8px
}
#linkback a, #linkback a:visited {
  color: black;
}
#explications {
  width: 25%;
  height: 2000px;
  float: left;
  font-size: 14px;
  background-color: #EEE;
  overflow-y: auto;
}
#explications h3, #explications p {
  padding: 5px;
  margin: 5px;
}
#sigma.homepage {
  width: 75%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#sigma.export {
  width: 1000px;
  height: 1000px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#small {
  position: absolute;
  right: 0;
  top: 42px;
  display: flex;
  flex-direction: row;
  border: 0.5px solid #BBB;
}
#small > div {
  display: flex;
  flex-direction: column;
}
#small > div > div {
  width: 300px;
  height: 320px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0.5px solid #BBB;
}
#small > div > div > span {
  position: relative;
  top: 0;
  left: 5px;
}
#small > div > div > div {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 300px;
  width: 300px;
}
#controls {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 225px; 
  background-color: #BBB
}
#buttons-legend {
  position: absolute;
  bottom: 175px;
  width: 380px;
  right: 5px;
  text-align: center;
}
#buttons {
  position: absolute;
  bottom: 40px;
  right: 5px;
  display: flex;
  flex-direction: row;
}
#colors, #settings {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}
#save-as-png {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 380px;
}
